* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #4c4a4a;
  background: -webkit-linear-gradient(to right, #070707, #474244);
  background: linear-gradient(to right, #494547, #c7bbc1);
}

header {
  background-color: #444243;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .wrapper {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

header .wrapper img {
  width: 13%;
}

header nav {
  display: flex;
  align-items: center;
  width: 80%;
}

header button {
  width: 15%;
  height: 2rem;
  border: none;
  color: white;
  font-size: 15px;
  background-color: black;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.5s;
}

header button:hover {
  background-color: #747172;
}

header nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

header a {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-decoration: none;
}

section .titulo {
  font-size: 45px;
}

section .banner {
  background-image: url(/img/backdesc.png);
  background-size: cover;
  position: static;
  color: #e9e9e9;
  height: 30rem;
  display: flex;
  align-items: center;
}

section .description {
  font-size: 25px;
  font-weight: 300px;
  color: #e9e9e9;
}

.centralizar {
  width: 80%;
  margin: 0 auto;
}

.banner .centralizar {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section button {
  width: 15%;
  height: 2rem;
  border: none;
  color: white;
  font-size: 15px;
  text-transform: none;
  background-color: rgb(0, 0, 0);
  border-radius: 4rem;
  cursor: pointer;
  transition: 0.5s;
}

section button:hover {
  background-color: #857f82;
}

.item-1 {
  background-size: cover;
  margin-top: 3rem;
  margin-bottom: 4rem;
  border-radius: 2rem;
  height: 70%;
  width: 50%;
}

.text {
  font-size: 19px;
  color: #e9e9e9;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.flex-button {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.area-texto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45%;
}

hr {
  background-color: rgb(250, 250, 250);
}

.destaque {
  display: flex;
  width: 100%;
  background-color: #5e5b5c;
  height: 15rem;
  align-items: center;
  justify-content: space-between;
}

.buttonn {
  display: flex;
  justify-content: end;
  align-items: center;
}

.alinhar {
  display: flex;
  gap: 1rem;
  width: 45%;
  line-height: 0.5;
}

.conteudo-destaque {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.conteudo-destaque p:first-child {
  color: #e9e9e9;
  font-weight: 500;
  font-size: 35px;
}

.conteudo-destaque p:last-child {
  color: #e9e9e9;
  font-size: 16px;
}

footer {
  padding: 3rem 0rem;
  display: flex;
  justify-content: space-around;
  background-color: #494547;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer h3 {
  font-size: 1.5rem;
  color: white;
}

footer ul {
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
}

.second-btn {
  align-self: flex-end;
}
